@tailwind base;
@tailwind components;
@tailwind utilities;

#app{
  height: 100svh;
  display: flex;
  flex-direction: column;
  @apply main-bg;
}
*{
  @apply text-slate-50;
}

.transition-input{
  transition: background-color .1s ease-out, color .1s ease-out, border-color .1s ease-out;
}

.input-border{
  @apply border border-solid border-gray-500
}
.border-bottom{
  @apply border-b-2 border-solid;
}
.border-bottom-header{
  @apply border-b-4 border-solid;
}

.bad-input{
  border-color: rgb(220, 38, 38) !important;
}
.bad-input:hover{
  border-color: rgb(239, 68, 68) !important;
}

.header-shadow{
  box-shadow: 0 0 2px rgb(185, 185, 185), 0 0 5px rgb(204, 204, 204);
}
.header-bg{
  background-color: #0E6666;
}

.login-shadow{
  box-shadow: 0 0 2px rgb(185, 185, 185), 0 0 5px rgb(204, 204, 204);
}

.login-label{
  @apply top-5 left-1 text-lg;
}
.login-label-focus{
  @apply top-0 left-0 text-sm;
}

.main-bg{
  background-color: #353535;
}
.orange-bg{
  background-color: #F25430;
}
.orange-text{
  color: #F25430;
}
.green-bg{
  background-color: #0E6666;
}

.bg-ellipse{
  background-image: url('../icons/bg-ellipse-2.svg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  width: 807px;
  height: 345px;
}

section{
  @apply w-full flex flex-col items-center p-2 border-b border-solid border-gray-300;
}

.btn{
  @apply transition-colors select-none;
  background-color: #0E6666;
}
.btn:hover{
  background-color: #177979;
}
.btn:active{
  background-color: #138a8a;
}
.btn-disabled{
  background-color: #6a6d6d;
}
.btn-disabled:hover, .btn-disabled:active{
  background-color: #6a6d6d;
}

.card-animation{
  transition: transform 50ms ease-out;
}
.card-animation:hover, .card-picked{
  transform: translateY(-20px);
}
